absl-py
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
alabaster
altair
annotated-types
anthropic
anyio
apify
apify_client
apify_shared
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
asynctest
attrs
babel
beautifulsoup4
bleach
blinker
bs4
cachetools
certifi
cffi
charset-normalizer
click
click-plugins
colorama
comm
crawlee
cryptography
css-html-js-minify
dateparser
debugpy
decorator
defusedxml
distro
dnspython
docstring_parser
docutils
executing
ExifRead
fastjsonschema
feedparser
filelock
flatbuffers
fonttools
fpdf2
fqdn
frozenlist
fsspec
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
grpcio
grpcio-status
h11
h5py
httpcore
httplib2
httpx
huggingface-hub
idna
imagesize
impit
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
langchain-core
langchain-openai
langsmith
lark
lazy-object-proxy
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
ml_dtypes
mmh3
more-itertools
mpmath
multidict
mutagen
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
newsapi
newsapi-python
newsdataapi
nltk
notebook
notebook_shim
numpy
ollama
openai
opt_einsum
optree
orjson
p2j
packaging
pandas
pandocfilters
parso
pillow
platformdirs
plotly
prometheus_client
prompt_toolkit
propcache
Protego
proto-plus
protobuf
proxycheck
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pyee
Pygments
pygooglenews
PyJWT
pyparsing
PyPDF2
python-dateutil
python-dotenv
python-json-logger
python-slugify
pytz
pywin32
pywinpty
PyYAML
pyzmq
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
roman-numerals-py
rpds-py
rsa
safetensors
scikit-learn
scipy
Send2Trash
sentence-transformers
setuptools
sgmllib3k
shodan
six
smmap
sniffio
snowballstemmer
soupsieve
Sphinx
sphinx-material
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-trio
stack-data
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
text-unidecode
tf_keras
threadpoolctl
tiktoken
tinycss2
tldextract
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
twilio
types-python-dateutil
typing-inspection
typing_extensions
tzdata
tzlocal
Unidecode
uri-template
uritemplate
urllib3
watchdog
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
whois
widgetsnbextension
wrapt
xlsxwriter
yarl
yt-dlp
zstandard
