absl-py
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
alabaster
altair
annotated-types
anthropic
anyio
apify
apify_client
apify_shared
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
asynctest
attrs
babel
beautifulsoup4
bleach
blinker
blis
bs4
cachetools
catalogue
certifi
cffi
charset-normalizer
click
click-plugins
cloudpathlib
colorama
comm
confection
contourpy
crawlee
cryptography
css-html-js-minify
cycler
cymem
dateparser
debugpy
decorator
defusedxml
distro
dnspython
docstring_parser
docutils
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
executing
ExifRead
fastjsonschema
feedparser
filelock
flatbuffers
fonttools
fpdf2
fqdn
frozenlist
fsspec
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
grpcio
grpcio-status
h11
h5py
httpcore
httplib2
httpx
huggingface-hub
idna
imagesize
impit
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
langchain-core
langchain-openai
langcodes
langsmith
language_data
lark
lazy-object-proxy
libclang
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml_dtypes
mmh3
more-itertools
mpmath
multidict
murmurhash
mutagen
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
newsapi-python
newsdataapi
nltk
notebook
notebook_shim
numpy
ollama
openai
opt_einsum
optree
orjson
OTXv2
p2j
packaging
pandas
pandocfilters
parso
pillow
platformdirs
plotly
preshed
prometheus_client
prompt_toolkit
propcache
Protego
proto-plus
protobuf
proxycheck
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pyee
Pygments
pygooglenews
PyJWT
pyparsing
PyPDF2
python-dateutil
python-dotenv
python-json-logger
python-slugify
python-whois
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
roman-numerals-py
rpds-py
rsa
safetensors
scikit-learn
scipy
Send2Trash
sentence-transformers
setuptools
sgmllib3k
shellingham
shodan
six
smart_open
smmap
sniffio
snowballstemmer
soupsieve
spacy
spacy-legacy
spacy-loggers
Sphinx
sphinx-material
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-trio
srsly
stack-data
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
text-unidecode
tf_keras
thinc
threadpoolctl
tiktoken
tinycss2
tldextract
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
twilio
typer
types-python-dateutil
typing-inspection
typing_extensions
tzdata
tzlocal
Unidecode
uri-template
uritemplate
urllib3
wasabi
watchdog
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
whois
widgetsnbextension
wrapt
xlsxwriter
yarl
yt-dlp
zstandard
