requests
python-dotenv
shodan
proxycheck
python-whois
openai
dnspython
Pillow
exifread
mutagen
PyPDF2
newsapi-python
langchain-openai
pandas
beautifulsoup4
python-dateutil
pygooglenews
mmh3
apify-client
anthropic
colorama
aiohttp
feedparser
newsdataapi
nltk
transformers
tiktoken
twilio
google-api-python-client
yt-dlp
dateparser